{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="flex flex-col mx-auto items-center  gap-2">
		<h1 class="h3 mb-3 font-semibold text-2xl ">Réinitialiser le mot de passe</h1>
		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}
		<div>
			<small>
				Entrez votre adresse e-mail, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
			</small>
		</div>

		<button class="mt-4 mb-4 btn-lg bg-green-500 rounded-lg px-4 py-2">Envoyer le lien de réinitialisation du mot de passe</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
